BOT_TOKEN='Токен полученный с тг-бота @BotFather| Token given via tg @BotFather'
RAPID_API_KEY='Токен от rapid api, booking.com| Rapid API Token, booking.com'
OWNER_ID='На выбор, если хотите получать уведомление об использовании бота| Optional, owners id, to notify about crashes'
