# Environment
.env

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
venv/
env/

# Test and type check caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db

# Database
*.db

# Logs
*.log
